.section5 {
  min-width: 1600px;
  height: 766px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec5-header {
  min-width: 626px;
  height: 61px;
  font-family: Playfair Display;
  font-weight: medium;
  font-size: 55px;
  line-height: 60.5px;
  color: #2C2F24;
  margin: 48px;
}

.sec5-title {
  text-align: center;
}
.sec5-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}
.sec5-card {
  min-width: 416px;
  height: 408px;
  background-color: #F9F9F7;
  margin: 40px;
  border-radius: Mixed;
  padding: 30px;
}

.sec5-card-title {
  min-width: 237px;
  height: 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #AD343E;
  letter-spacing: -3%;
}

.sec5-card-text {
  margin-top: 10px;
  width: 346px;
  height: 140px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #414536;
}

.sec5-line {
  min-width: 346px;
  color: #DBDFD0;
}

.per-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-img {
  min-width: 70px;
  min-height: 70px;
}

.person-info {
  margin: 16px;
}
.person-name {
  min-width: 121px;
  height: 24px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #2C2F24;
}

.person-location {
  min-width: 117px;
  min-height: 24px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #414536;
}